@model DiscoverYourself.Models.Entities.User

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
    var userName = Model.UserName;
    var userId = Model.Id;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/home_index.css" asp-append-version="true">
</head>
<div class="text-center">
    <div class="header">
        <h1 class="display-4">Welcome to @userName</h1>
        <p>Discover yourself by setting your goals and share them with the world !</p>
        <div class="user-profile">
            <img src="https://i.hizliresim.com/bgtjosy.jpeg" alt="User Profile" class="profile-pic">
        </div>
    </div>
    <div class="blog-section">
        <a href="/AccumulationGoals/Index/@userId" class="target-btn">Accumulation Goals</a>
        <a href="/BusinessGoals/Index/@userId" class="target-btn">Business Goals</a>
        <a href="/EducationGoals/Index/@userId" class="target-btn">Education Goals</a>
        <a href="" class="target-btn">Development Goals</a>
    </div>
</div>


