@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/home_index.css" asp-append-version="true">
</head>
<div class="text-center">
    <div class="header">
        <h1 class="display-4">Welcome to the Discover Yourself</h1>
        <p>Discover yourself by setting your goals and share them with the world !</p>
        <div class="user-profile">
            <img src="https://i.hizliresim.com/bgtjosy.jpeg" alt="User Profile" class="profile-pic">
        </div>
    </div>
    <div class="blog-section">
        <button class="target-btn">Birikim Hedeflerim</button>
        <button class="target-btn">Yatırım Hedeflerim</button>
        <button class="target-btn">Eğitim Hedeflerim</button>
        <button class="target-btn">Gelişim Hedeflerim</button>
    </div>
</div>


