@using DiscoverYourself.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DiscoverYourself.Models.RequestModels.BusinessGoalRequestModel
@{
    Layout = null;
    var userId =  ViewBag.UserId;
}

<!DOCTYPE html>
<html>
<head>
    <title>Business Goals</title>
    <link rel="stylesheet" href="~/css/business_goals.css" asp-append-version="true">
</head>
<body>
<div class="container">
    <h1>Business Goals</h1>

    <form action="/BusinessGoals/Save" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" id="userId" name="UserId" value="@userId">

        <div>
            <label for="StartDate">Start Date</label>
            <input asp-for="StartDate" type="date" required/>
        </div>
        <div>
            <label for="EndDate">End Date</label>
            <input asp-for="EndDate" type="date" required/>
        </div>
        <div>
            <label for="TasksCompleted">Tasks Completed</label>
            <input asp-for="TasksCompleted" type="number" min="0" required/>
        </div>
        <div>
            <label for="TaskType">Task Type</label>
            <select asp-for="TaskType" required>
                @foreach (var taskType in Enum.GetValues(typeof(enmTaskTypes)))
                {
                    <option value="@taskType">@taskType</option>
                }
            </select>
        </div>
        <div>
            <label for="DailyWorkHours">Daily Work Hours</label>
            <input asp-for="DailyWorkHours" type="number" step="0.5" min="0" required />
        </div>
        <div>
            <label for="DailySelfDevelopmentHours">Daily Self-Development Hours</label>
            <input asp-for="DailySelfDevelopmentHours" type="number" step="0.5" min="0" required />
        </div>
        <div>
            <label for="AdditionalInfo">Additional Info</label>
            <textarea asp-for="AdditionalInfo" required></textarea>
        </div>

        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>
